<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Accounts</title>
</head>
<body>
<div>
    <h1>Accounts list</h1>
    <!--  <div><span th:text="${accounts}"></span></div>-->
    <div>
        <table border="1">
            <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>DETAILS</th>
                <th>UPDATE</th>
                <th>DELETE</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account : ${accounts}">
                <td th:text="${account.id}"/>
                <td th:text="${account.name}"/>
                <td><a href="/accounts/read" th:href="@{/accounts/read(id=${account.id})}">read</a></td>
                <td></td>
                <td><a href="/accounts/delete" th:href="@{/accounts/delete(id=${account.id})}">delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>