<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This is the account</title>
</head>
<body>
<h1>This is the account</h1>
<div>
    <span th:text="${drummer}">Doing frontend</span>
</div>
<div>
    <form method="post">
        <input type="text" name="name">
        <input type="text" name="surname">
        <input type="text" name="band">
        <input type="text" name="yearsExperience">
        <button type="submit">submit</button>
    </form>
</div>
</body>
</html>